.container__womenImage {
    margin-top: 2rem;
  
}

.container__h1 {
    color: $white;
    font-style: normal;
font-weight: bold;
font-size: 48px;
max-width: 28ch;
text-align: center;
}

.container__btn {
    width: 254px;
height: 62px;
background: #8C7AE6;
color: $white;
border: none;
font-style: normal;
font-weight: 400;
font-size: 24px;
text-transform: capitalize;
margin-left: 14rem;
margin-top: 3rem;
cursor: pointer;

}

.container__btn:focus {
    outline: none;
    box-shadow: none;
  }

.container__contents {
   
    margin-top: -44rem;
    margin-left: 56rem;
}

.container__section1Img {
   
}

@media all and (max-width: 1356px) {
    .container__contents {
    margin-top: -26rem;
    margin-left: 30rem;
}
    
}

@media all and(max-width: 1050px ) {
    .container__h1 {
        font-size: 2rem;
    }

    .container__contents {
        margin-top: -19rem;
         margin-left: -2rem;
    }

    .container__btn {
        margin-left: 10rem;
        width: 170px;
        height: 25px;
        font-size: 12px;
        margin-top: 2rem;
    }
   
}

@media all and (max-width: 630px) {
    .container__contents {
      
      margin-top: -10rem;
    margin-left: 17rem;
       
    }
    .container__h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .container__btn {
        margin-left: 3rem;
        
        font-size: 12px;
        margin-top: 0.5rem;
    }

 

}