.section2 {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.container2 {
  width: 1313px;
  height: 182px;
  background: #e6eaec;
  border: 1px solid #b3b7bb;
  margin-top: 20rem;

  @media all and (max-width: 668px) {
      height: 250px;
  }

  @media all and (max-width: 373px) {
    height: 330px;
  }

}

.container2__langHeading {
  margin-top: 2rem;
}

.container2__h3 {
  text-transform: capitalize;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  color: #333946;
}

.container2__img {
  width: 59px;
  height: 35px;
}

.container2__h4 {
    font-style: normal;
font-weight: normal;
font-size: 12px;
color: #777E8B;
text-transform: capitalize;
text-align: center;
margin-top: 0.5rem;
}

.container2__langList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}
.container2__langSection {
    margin-top: 1rem;
}